USE [master]
GO
/****** Object:  Database [SistemaEscolar]    Script Date: 16/10/2016 17:07:04 ******/
CREATE DATABASE [SistemaEscolar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaEscolar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SistemaEscolar.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SistemaEscolar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SistemaEscolar_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaEscolar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaEscolar]
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 16/10/2016 17:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aluno](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
 CONSTRAINT [PK_Aluno] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 16/10/2016 17:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Curso](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NULL,
	[professor] [int] NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 16/10/2016 17:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[codigoAluno] [int] NULL,
	[codigoCurso] [int] NULL,
	[DataMatricula] [datetime] NULL,
 CONSTRAINT [PK_Matricula] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Professor]    Script Date: 16/10/2016 17:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Professor](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NULL,
 CONSTRAINT [PK_Professor] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Curso]  WITH NOCHECK ADD  CONSTRAINT [FK_Curso_Professor] FOREIGN KEY([professor])
REFERENCES [dbo].[Professor] ([codigo])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Curso] NOCHECK CONSTRAINT [FK_Curso_Professor]
GO
ALTER TABLE [dbo].[Matricula]  WITH NOCHECK ADD  CONSTRAINT [FK_Matricula_Aluno] FOREIGN KEY([codigoAluno])
REFERENCES [dbo].[Aluno] ([codigo])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Matricula] NOCHECK CONSTRAINT [FK_Matricula_Aluno]
GO
ALTER TABLE [dbo].[Matricula]  WITH NOCHECK ADD  CONSTRAINT [FK_Matricula_Curso] FOREIGN KEY([codigoCurso])
REFERENCES [dbo].[Curso] ([codigo])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Matricula] NOCHECK CONSTRAINT [FK_Matricula_Curso]
GO
USE [master]
GO
